/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0a0c0a !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #d6c6a6; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #d6c6a6; background-color: rgba(119,148,112,0.4)}
.cm-s-nqqwal { background-color: #0a0c0a; color: #d6c6a6; }
.cm-s-nqqwal span.cm-builtin { color: #776438; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #958a74; }
.cm-s-nqqwal span.cm-keyword { color: #5E5647; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8E6039; }
.cm-s-nqqwal span.cm-def { color: #976D49; }
.cm-s-nqqwal span.cm-variable { color: #779470; }
.cm-s-nqqwal span.cm-variable-2 { color: #976D49; }
.cm-s-nqqwal span.cm-string { color: #776438; }
.cm-s-nqqwal span.cm-string-2 { color: #776438; }
.cm-s-nqqwal span.cm-number { color: #976D49; }
.cm-s-nqqwal span.cm-tag { color: #5E5647; }
.cm-s-nqqwal span.cm-property { color: #779470; }
.cm-s-nqqwal span.cm-attribute { color: #779470; }
.cm-s-nqqwal span.cm-qualifier { color: #8E6039; }
.cm-s-nqqwal span.cm-meta { color: #976D49; }
.cm-s-nqqwal span.cm-header { color: #5E5647; }
.cm-s-nqqwal span.cm-operator { color: #5E5647; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(151,109,73,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #5E5647; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0a0c0a); }
